---
---

// apply Clavister branding and customization
//

// Breakpoints
$large-breakpoint: 75rem;
$medium-breakpoint: 48rem;

// headers
$header-bg-color: #598BAC;
$header-bg-color-secondary: #1F3342;

// text
$section-headings-color: #215D83;
$body-text-color: #525252;
$body-link-color: #598BAC;
$text-muted-color:#6c757d;

$status-colors: (
    "draft":        #ff991f,
    "ok":           #00875a,
    "old":          #42526e,
);

// Color contrast
@function color-yiq($color, $dark: #212529, $light: #fff) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
  
    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  
    @if ($yiq >= 150) {
      @return $dark;
    } @else {
      @return $light;
    }
}

@import "{{ site.theme }}";

.page-header {
    background: $header-bg-color-secondary url(/assets/img/header-bg.jpg) no-repeat;
    background-size: cover;
    box-shadow: 0 1px 5px 3px #ccc;

    @include large {
        padding: 1rem 1rem;
    }
    
    @include medium {
        padding: 1rem 4rem;
    }
    
    @include small {
        background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
        padding: 1rem 1rem;
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include large {
            max-width: $large-breakpoint;
            padding: 1rem 6rem;
            margin: 0 auto;
        }
        
          @include medium {
            padding: 1rem 0rem;
        }
        
          @include small {
            padding: 0;
        }
    }

    a.site-brand {

        &:hover {
            text-decoration: none;
        }

        > img {
            vertical-align: bottom;
        }

        > h2 {
            display: inline;
            margin: 0 0 0 10px;
            color: #fff;
            font-weight: 400;
            font-size: 1.3rem;
        }
    }
}

.main-content {
    font-size: 1rem !important;

    @include large {
        max-width: $large-breakpoint;
      }
}

.panel {
    position: relative;
    float: right;
    width: 350px;
    background-color: #f5f5f5;
    padding: 10px;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  
    // Empty badges collapse automatically
    &:empty {
      display: none;
    }

    min-width: 70px;
}

@each $status, $color in $status-colors {
    .badge-#{$status} {
        color: color-yiq($color);
        background-color: $color;
    
        &:focus,
        &.focus {
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba($color, .5);
        }
    }
}

.text-muted {
    color: $text-muted-color !important;
}

.main-search {
    margin-bottom: 30px;

    .search-control {
        position:relative;
        display: flex;
        min-width: 100px;

        > input[type="text"] {
            width: 100%;
            padding: 10px 5px 10px 40px;
            border-radius: 0.3rem;
            border:1px solid #aaa;

            &:hover, &:active, &:focus {
                border-color: $body-link-color;
                outline: none;

                ~ .search-btn .search-icon .search-path {
                    stroke: $body-link-color;
                }
            }
        }

        &:hover, &:active, &:focus {
            > input[type="text"] {
                border-color: $body-link-color;
                outline: none;
            }

            .search-btn .search-icon .search-path {
                stroke: $body-link-color;
            }
        }

        > .search-btn {
            position: absolute;
            left: 5px;
            top: calc((100% - 20px) / 2);
            border: 0;
            background:none;

            &:hover, &:active, &:focus {
                border: 0;
                outline: none;
            }

            .search-icon {
                width: 20px;
                height: 20px;
                
                .search-path {
                    stroke-width: 2px;
                    stroke: #aaa;
                }
            }
        }

        > .clear-btn {
            position: absolute;
            display: none;
            top: calc((100% - 1.6em) / 2);
            right: 8px;
            font-weight: bold;
            font-size: 1.6em;
            cursor: pointer;

            &:hover {
                color: $body-link-color;
            }
        }
    }

    .search-results {
        > div {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            border-bottom: 1px solid #efefef;

            > p {
                margin: 5px 0;
            }
        }
    }
}